/* General Styles */

*, html, body, div, span, header {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    background-color: #E5E3E1;
}

a {
    text-decoration: none;
    color: #A60303;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

a:hover {
    color: grey;
}

.separator {
    height: 25px;
    background-color: #101010;
}

.block_background {
    background-color: #fff;
    border: 1px solid gray;
    border-top: 10px solid gray;
    padding: 5px 20px;
    margin: 10px 0;
    display: inline-block;
}

/* Content */

#content.container {
    margin: auto;

}

/* Profile Pic & Banner */

.profile-top {
  height: 450px;
  background-image: url("images/bg_coffeesepia.jpeg");
  background-size: cover;
  background-position: left top;
  background-attachment: fixed;
  margin-top: 0;
}

.profile-pic img {
  width: 430px;
  float: left;
  margin: 40px 0 0 -20px;
  border-left: 5px solid #000;
  border-right: 5px solid #000;
}

/* Right Section */

#right .container {
    float: right;
    width: 70%;
    margin-right: 30px;
}

#right h3 {
    margin-top: 10px;
}

.date {
    font-size: 0.8em;
    font-style: italic;
}


/* Left Section */
#left {
    width: 20%;
    display: inline-block;

}

/* Name */

#name h2 {
  color: #000;
  text-align: left;
  line-height: 50px;
}

/* Social Icons */

#social ul {
  list-style: none;
}

#social ul li {
  display: inline-block;
  font-size: 2em;
}

#social ul li a {
  text-decoration: none;
  color: #A60303;
  padding: 0px 5px 0px 5px;
}

#social ul li a:hover {
  color: grey;
}

/* About Section */

#about h3 {
  text-align: left;
  margin-top: 10px;
}

table.center {
  text-align: left;
}

table.center td {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Contact Button */

#contact a.button {
  background-color: #A60303;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px 0;
}

#contact a.button:hover {
  background-color: grey;
  color: white;
}

